*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/*Diseño mobile*/
@media screen and (min-width:180px) and (max-width:449px){
    
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }

    img{
        width: 50px;
        height: 60px;
        animation: infinite;
        
    }

        .principal-container{
            border-style: outset;
            border-color: rgb(235, 228, 228);
            overflow: hidden;
        }

    div{
        width: 20%;
        padding: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        min-width: 250px;
        min-height: 150px;
        margin-left: 40px;
        border-style: outset;
        border-color: transparent;
        
        
    }

    .Navegacion{
        display: inline-block;
        margin-left: 17rem;
        width: 105%;
        align-items: center;
        text-align: center;
        text-decoration: solid;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }

    .Opciones{
        display: block;
        margin: 20px;
        margin: -1rem;
        margin-top: 25rem;
        margin-right: 34rem;
        
    }

    input{
        display: flex;
        height: 2rem;
        border-radius: 10px 10px 10px 10px;
        min-width: 14rem;
        
    }
    input {
        margin-top: 2px;
        border-radius: 10%;
        background: white;
        animation:animation 6s infinite;
      }
      
      .small{
        width: 300px;
        height: 200px;
        left: -100px;
        bottom: -100px;
      }
      
      .medium{
        width: 400px;
        height: 400px;
        left: -200px;
        bottom: -200px;
      }
      
      .large{
        width: 600px;
        height: 600px;
        left: -300px;
        bottom: -300px;
      }
      
      .xlarge{
        width: 800px;
        height: 800px;
        left: -400px;
        bottom: -400px;
      }
      
      .xxlarge{
        width: 1000px;
        height: 1000px;
        left: -500px;
        bottom: -500px;
      }
      
      
      
      @keyframes animation{
        0%{
          transform: scale(0.8);
        }
        
        50%{
          transform: scale(1.2);
          transition: 3s;
        }
        
        100%{
          transform: scale(1.1);
        }
      }

    .Inicio_juego{
        background-color: rgb(15, 218, 79);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-style: solid;
        border-color: transparent;
        height: 4rem;
        min-width: 100px;
        box-sizing: border-box;
        text-align: end;
        margin-right: 5rem;
        color: white;
    }

    .Resetear{
        display: flex;
        background-color: red;
        color: white;
        border-color: transparent;
        height: 4rem;
        margin-top: 5px;
        border-radius:10px 15px 10px 10px;
        min-width: 100px;
        box-sizing: border-box;
        text-align: center;
        margin-top: -20px;
        margin-right: 5rem;
        
    }


    li ,a{
        display: inline-flex;
        text-decoration: none;
        margin: 1.3rem;
    }

    a{
        align-items: center;
    }
    
}

/*Diseño tablets*/
@media screen and (min-width:451px) and (max-width:850px){
    img{    
        height: 80px;
    }

    body{
        background-image: url();
    }
    
    div{
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        min-width: 500px;
        margin-left: 150px;
        min-height: 120px;
        

    }
 
    .Navegacion{
        display: inline-block;
        margin-left: 15rem;
        width: 105%;
        align-items: center;
        text-align: center;
        text-decoration: solid;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-style: outset;
    }

    .Opciones{
        display: flexbox;
        display: inline-block;
        margin: 10px;
        margin: -1rem;
        margin-top: 30rem;
        margin-right: 76.3rem;
        justify-content: center;
        align-items: center;

    }

    input{
    
        height: 2rem;
        border-radius: 10px 15px 10px 15px;
        min-width: 190px;
        box-shadow: 3px  10px 20px rgb(160, 156, 156);
        border-color: transparent;
    }
      
    .Inicio_juego{
        background-color: rgb(15, 218, 79);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-style: outset;
        border-color: white;
        height: 4rem;
        margin-top: 4rem;
        margin-left: -9.6rem;
        color: white;
    }

    .Resetear{
        display: inline-block;
        height: 4rem;
        margin-top: 1rem;
        background-color: rgb(214, 19, 19);
        color: white;
    }


    li ,a{
        display: inline-block;
        text-decoration: none;
        margin: 1.3rem;
        transition: 1s;
        
        -webkit-text-size-adjust: auto;
        
    }


    li, a:hover{
        transform: perspective(2rem);
        transition: 1.2s;
        
    }


}



/*Diseño escritorio*/
@media screen and (min-width:851px) and (max-width:2160px) {
    
    
    .principal-container{
        display: flex;
        width: 100%;
        height: 110%;
        padding: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        min-width: 250px;
        min-height: 150px;
        margin: 0 auto;
        border-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
        margin-top: 1.3rem;
        overflow: hidden;


    }

    .Fondo{
        justify-content: center;
        align-items: center;
        margin: auto;
        color: white;
        border-style: outset;
        border-color: rgb(241, 227, 227);
    }

    img{
        width: 20%;
        margin: 20px;
    }

    li{
        display: inline-block;
        margin: 20px;
        padding: 20px;
        margin-top: 5rem;
        text-align: center;
        text-decoration: transparent;
    }

    input{
        display: inline-block;
        justify-content: center;
        align-items: flex-end;
        height: 80px;
        width: 200px;
        margin-left: 0rem;
        margin-top: 10rem;
        border-radius: 10px 10px 10px 10px;
    }


    .Inicio_juego{
        background-color: rgb(15, 218, 79);
        color: white;
    }
    .Resetear{
        background-color: rgb(255, 27, 27);
        color: whitesmoke;
        text-align: center;
        animation: Botones 2s infinite;
    }

    .Resetear:hover{
        transform: perspective(2rem 2rem);
        animation: botones;
        
        
    }
    
    li:hover{
        background-color: red;
        color: aliceblue;
        text-decoration: underline;
        transform: rotate(180px);
        transition-duration: 1s;
    }
    
}









